.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    padding: 3px;
    position: relative;
}
.icon{
    font-size: 18px;
    cursor: pointer;
}
.switcher{
    width: 25px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color:var(--color-primary);
    position: absolute;
    cursor: pointer;
}
