.container{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}
.social{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon{
    cursor: pointer;
    opacity: .6;
    transition: .3s;
}
.icon:hover{
    opacity: 1;
}